
/* =================== base page styles =================== */

/* =================== font styles =================== */

/* =================== constants =================== */
.header.container {
	margin-bottom: 1rem;
}

#header {
	font-weight: 600;
}

.body.container > .container {
	margin: 1rem 0;
}
/* =================== media queries =================== */