/* =================== base page styles =================== */

/* =================== font styles =================== */

/* =================== constants =================== */

/* ---------- body container ---------- */
.body.container {
	padding: 0;
}

.body.container>.container {
	margin: 1rem 0;
}

.body.container>.container .container {
	padding: 0;
}

/* ---------- header container ---------- */
.header.container {
	margin-bottom: 1rem;
}

#header {
	font-weight: 600;
}

/* ---------- expenses container ---------- */

/* =================== media queries =================== */